body {
    background-color: #E1ECD6;
    padding-left: 20px;

}

h1 {
    color: black;
    font-size: 3rem;
    font-family: 'Prompt', sans-serif;
    margin-bottom: -10px;
}

li {
    font-family:'PT Sans', sans-serif;
}



